html{
	background: url("back.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.header img{
	margin: 0;
	width: 100%;
}

nav{
	font-size: 19px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

li{
	float: left;
}

li a{
	border-right:2px solid #bbb;
	display: block;
	color: white;
	padding: 15px 17px;
	text-decoration: none;
}


li a:hover:not(.active){
	background-color: #111;
}

li a:hover:not(.activ){
	background-color: #111;
}
.red{
	background-color: #FFA500;
}
.active{
	background-color: red;
}
.activ{
	background-color: red;
}
.acti{
	background-color: red;
}
.movies{
	background-color: red;
}
.mymovies{
	background-color: red;
}
.assignedmovies{
	border-right: none;
	background-color: red;
}
.addmovie{
	border-right: none;
	background-color: red;
}

