html{
	background: url("images/back.jpg"");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.header img{
	margin: 0;
	width: 100%;
}

nav{
	font-size: 19px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

li{
	float: left;
}

li a{
	border-right:2px solid #bbb;
	display: block;
	color: white;
	padding: 15px 17px;
	text-decoration: none;
}


li a:hover:not(.active){
	background-color: #111;
}

li a:hover:not(.activ){
	background-color: #111;
}
.red{
	background-color: red;
}
.active{
	background-color: red;
}
.activ{
	background-color: red;
}
.acti{
	background-color: red;
}
.movies{
	background-color: red;
}
.mymovies{
	background-color: #FFA500;
}
.assignedmovies{
	border-right: none;
	background-color: red;
}
.addmovie{
	border-right: none;
	background-color: red;
}

body{
	background-color: rgba(50,50,50,0.3);
	border-radius: 20%;
	margin-bottom: 10%;
}

b{
	color: rgba(255, 255,255, 0.8);
	font-size: 24px;
}

.card {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	padding: 10px 5px;
	font-size: 19px;
	margin: 0 auto;
	margin-top: 1%;
	text-align: center;
	background-color: #FFA500;
	width:25%;
  }

  .card button {
	background-color: red;
	border: none;
	color: white;
	padding: 3px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
  }

  .card button:hover{
	background-color: #111;
  }