<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style/all.css') }}">
	</head>
	<body>
		<div class="header">
			<img class="header" src="{{ url_for('static', filename='style/images/header.png')}}">
		</div>
		<nav>
			<li class="red"><a href="/">Home</a></li>
			<li class="movies"><a href="/movies">Movies</a></li>
			{% if user != None %}
			<li class="mymovies"><a href="/mymovies">My Movies</a></li>
			<li class="assignedmovies"><a href="/assignedmovies">Assigned Movies</a></li>
			<li class="addmovie"><a href="/addmovie">Add Movie</a></li>
			<li style="float:right"><a class="acti" href="/logout">Log out</a></li>
			{% elif user == None %}
			<li style="float:right"><a class="active" href="/register">Register</a></li>
			<li style="float:right"><a class="activ" href="/login">Log in</a></li>
			{% endif %}
		</nav>
		{% for movie in movies %}
            <div class="card">
                    <p>Title: {{movie.title}}</p>
                    <p>Director: {{movie.director}}</p>
                    <p>Age Limit: {{movie.ageLimit}}</p>
                    {% if user != None %}
                    <form class="assign" action="">
                        <button type="submit" value="submit">Assign for the movie</button>
                    </form>
                    {% endif %}
            </div>
		{% endfor %}
		
	</body>
</html> 
