<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href=reg.css>
    </head>
    <body>
    <div class="header">
	                <img class="header" src="header.png">
    </div>
    <nav>
			<li class="red"><a href="#home">Home</a></li>
			<li class="acti"><a href="#movies">Movies</a></li>
			<!--<li style="float:right"><a class="active" href="#register">Register</a></li>-->
			<li style="float:right"><a class="activ" href="#login">Log in</a></li>
    </nav>
    <form action="login" method="post">
			<label><b>Username</b></label>
      <br>
			<input type="username" name="username" placeholder="Enter Username" required>
      <br>
			<label><b>Mail</b></label>
      <br>
			<input type="email" name="mail" placeholder="Enter Mail" required>
      <br>
			<label><b>Password</b></label>
      <br>
			<input type="password" name="password" placeholder="Enter Password" required>
      <br>
			<label><b>Birthday</b></label>
      <br>
			<input type="birthday" name="birthday" placeholder="Enter Birthday" required>
      <br>	  
			<button type ="submit">Log In</button>
    </body>
</html>