<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/reg.css') }}">
    </head>
    <body>
    <div class="header">
	    <img class="header" src="{{ url_for('static', filename='style/images/header.png')}}">
    </div>
    <nav>
		<li class="red"><a href="/">Home</a></li>
		<li class="movies"><a href="/movies">Movies</a></li>
		{% if user != None %}
		<li class="mymovies"><a href="/mymovies">My Movies</a></li>
		<li class="assignedmovies"><a href="/assignedmovies">Assigned Movies</a></li>
		<li class="addmovie"><a href="/addmovie">Add Movie</a></li>
		<li style="float:right"><a class="acti" href="/logout">Log out</a></li>
		{% elif user == None %}
		<li style="float:right"><a class="active" href="/register">Register</a></li>
		<li style="float:right"><a class="activ" href="/login">Log in</a></li>
		{% endif %}
    </nav>
    <form action="register" method="post">
			<label><b>Username</b></label>
      <br>
			<input type="username" name="username" placeholder="Enter Username" required>
      <br>
			<label><b>Mail</b></label>
      <br>
			<input type="email" name="mail" placeholder="Enter Mail" required>
      <br>
			<label><b>Password</b></label>
      <br>
			<input type="password" name="password" placeholder="Enter Password" required>
      <br>
			<label><b>Birthday</b></label>
      <br>
			<input type="date" name="birthday" placeholder="Enter Birthday" required>
      <br>	  
			<button type ="submit">Log In</button>
    </form>
    </body>
</html>
